/*! HEADER STYLES */

#header {
  margin:0;
  width: 100%;
  overflow: hidden;
  background: white;
  padding: 10% 0 4% 0;
  text-align: center;
  background: $primary-color;
  color: white;
} /*Close #header*/
