/*! MIXIN  */

/*Transitions*/
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


/*Buttons*/
.btn {
  position: relative;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  background: $primary-color;
  font-weight: bold;
  color: white !important;
  @include transition(all .3s); /*Taken from mixin.scss*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;

  &:hover {
    background:$link-hover;
  }
}
