/*! MIXIN  */

/*Transitions*/
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


/*Buttons*/
.btn {
  position: relative;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  background: $primary-color;
  font-weight: bold;
  color: white !important;
  @include transition(all .3s); /*Taken from mixin.scss*/

  &:hover {
    padding-right: 30px;
    background:$link-hover;
  }

  &:before {
    content: "→";
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 2;
    color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    right: -20px;
    top: 0;
    opacity:0;
  }

  &:hover:before {
    right: 8px;
    opacity:1;
  }
}
