/*
Name: Toll Fee Calculator SASS
Version: 1.0
*/

@import "colors.scss"; /*Colors SASS file*/
@import "mixin.scss"; /*Mixin SASS file*/
@import "fonts.scss"; /*Fonts SASS file*/
@import "header.scss"; /*Header SASS file*/
@import "form.scss"; /*Header SASS file*/

body,html{
  height: 100%;
  margin:0;
}

body {
  width: 100%;
  overflow-x: hidden;
  display: block;
  clear: both;
  box-sizing: border-box;
	font-family:$primary-font;
	color:black;

  @media screen and (min-width : 1024px) {
    width: 375px;//iPhone 6/7/8/X
    margin: 0px auto;
  }
}


@media screen and (max-width : 1024px) {

	/*All Devices*/

	html.touch *:hover {
    	pointer-events: none !important;
	}

	html, body {
		width:100% !important;
		margin:0px !important;
		overflow-x:hidden !important;
		-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
	}

	body {
		margin: 0 0 20px;
		min-height:100%;
	}
}

#wrapper{
  height:100%;
  overflow:hidden;
}

#content {
  height: 100%;
  margin: 0px auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  background: $light-grey;
  border: 1px solid $grey;
}

/*------FOOTER-----*/

#footer {
	width: 100%;
}
